uvicorn
tzdata
typing-inspection
typing_extensions
starlette
sniffio
six
pytz
python-multipart
python-dateutil
pydantic_core
pydantic
pip
pandas
openpyxl
numpy
MarkupSafe
Jinja2
idna
h11
fastapi
et_xmlfile
colorama
click
anyio
annotated-types