<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title id ="title">{{table_name}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <div class="container">
    <form id="precentform">
    {%for col, unique_values in uniques.items()%}
        <label for="dropdown{{col}}"> {{col}}</label>
        <select name="dropdown{{col}}" id="dropdown{{col}}" data-col = "{{col}}">
            <option value="Empty">Empty</option>
            {%for uni in unique_values%}
            <option value="{{uni}}">{{uni}}</option>
            {%endfor%}
        </select>
            {%endfor%}
    </form> 
<label for="classified">Classified by:</label>
    <select name="classified" id = "classified">
        <option value="Empty">Empty</option>
        {%for col in cols%}
        <option value="{{col}}">{{col}}</option>
        {%endfor%}
    </select>
<label for="IGNORE">Ignore:</label>
    <form name="IGNORE" id = "IGNORE">
        {%for col in cols%}
        <label for = "check_{{col}}">{{col}}</label>
        <input type="checkbox" value="false" id="checl_{{col}}" data-col="{{col}}">
        {%endfor%}
    </form>
    <button type = "button" onclick="getprecent()" id ="sendbutton">Get precent</button>

    <div id = "result"></div>
    </div>
    <script>

        function EditTitle(){
            let title  = document.title
            let current_title = title
            let new_title = ""

            let tmp = current_title.split("_")
            let tmp1 = ""
            for(let i =0; i < tmp.length; i++){
                let word = tmp[i]
                word = word.charAt(0).toUpperCase() + word.slice(1) + " ";
                tmp1 += word
            }
            tmp1.trim()
            document.title = tmp1
        }
        EditTitle()
        let data = {}
        let drops = {}
        let selects = {}
        let classified = ""

        async function getprecent(){
            const form = document.getElementById("precentform");
            const unique = {{uniques | tojson}}
            const file_name = "{{ table_name }}";
            const primary = "{{ primary }}";
            const index = "{{ index }}";
            let drop_list = []
            var url = `/calculate_model/${file_name}/${primary}/${index}/`
            for (const drop in drops){
                // url += `${key}=${data[key]}/`
                    if (drops[drop]){
                        drop_list.push(drop)
                    }
            }
            
            // alert(url);
            data["selects"] = selects;
            data["drops"] = drop_list
            data["classified"] = classified
            if(classified == "Empty" || classified == ""){
                alert("no null")
                return
            }
            const response = await fetch (url,
            {method : "POST", body:JSON.stringify(data), headers:{"Content-Type": "application/json"}}
            );
            const result = await response.json();
            console.log(result)
            document.getElementById("result").innerText=`${result.result}`; 
        }
            
        
        
        let last_change = ""
        document.querySelectorAll("select").forEach(function(selectElement){
                selectElement.addEventListener("change", function() {
                    selects[this.dataset.col] = this.value;
                    
                    if(this.id == "classified"){
                    classified = this.value
                    delete selects[undefined]

                    col = this.value

                    TurnOffDropDownCol(col)
                    TurnOnDropDownCol(last_change)

                                        
                    last_change = col
                    }
                })
            })

        document.querySelectorAll("input[type='checkbox']").forEach(function(checkbox){
                checkbox.addEventListener("change", function() {
                drops[this.dataset.col] = this.checked;
                if(this.checked){
                    TurnOffCol(this.dataset.col);
                    TurnOffDropDownCol(this.dataset.col);
                    DeleteFromDataIfExist(this.dataset.col);
                }else{
                    TurnOnCol(this.dataset.col);
                    TurnOnDropDownCol(this.dataset.col);
                }
                })
            })
            const classifiedDropDown = document.getElementById("classified")
            
            function TurnOnCol(ColName){
                            const option = classifiedDropDown.querySelector(`option[value="${ColName}"]`);
                            option.disabled = false;
                        }
            function TurnOffCol(ColName){
                if(classifiedDropDown.value == ColName){
                    classifiedDropDown.value = "Empty"
                }
                const option = classifiedDropDown.querySelector(`option[value="${ColName}"]`);
                            option.disabled = true;
            }
            
            function TurnOffDropDownCol(ColName){
                if (ColName != ""){
                let dropDown = document.getElementById(`dropdown${ColName}`)
                dropDown.disabled = true
            }
            }
            function TurnOnDropDownCol(ColName){
                if(ColName != ""){
                let dropDown = document.getElementById(`dropdown${ColName}`)
                dropDown.disabled = false
                }
            }
            

            
            function DeleteFromDataIfExist(ColName){
                if(ColName in data["selects"]){
                    delete data["selects"][ColName]
                }
                if(ColName == data["classified"]){
                    data["classified"] = "Empty";
                }
            }
    </script>
</body>
</html>